<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <style type="text/css">
        .dataTables_filter, .dataTables_info {
            display: none;
        }

    </style>

</head>
<body class="nav-md">
<div class="container body">
    <% include ../partials/menuandtopnav.ejs %>

    <div class="right_col" role="main">
        <div class="x_panel">

            <div class="page-title">
                <div class="title_left">
                    <h3>Students</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button"
                              onclick="alert('searching fucntion under development');">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--page content start -->

            <!--Table show start -->
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Enrollment</th>
                    <th>Username</th>
                    <th>Standard</th>
                    <th>Bus Route</th>
                    <th>Father's Contact</th>
                    <th>Mother's Contact</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <% for (let item of items) { %>
                <tr role="row">
                    <td><%= item.name + " " + item.stud_last_name %></td>
                    <td class="rolln"><%= item.rollno %></td>
                    <td><%= item.s_gender %></td>
                    <td><%= item.s_dob %></td>
                    <td><%= item.father_name %></td>
                    <td><%= item.mother_name %></td>
                    <td class=""><%= item.mother_name %></td>
                    <td class=" last">
                        <button class='view-button' type="button" data-toggle="modal"
                                data-target=".student_information_modal" style="color: blue;">View
                        </button>
                    </td>
                </tr>
                <% } %>
                <!-- Dynamically show data end here-->
                </tbody>
            </table>
        </div>
        <!--Table show start -->
        <!-- page content end -->
        <br>
        <h1 id="debug">debug</h1>
        <BR>


        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large-->
        <!--modal-->
        <!--</button>-->

        <div class="modal fade student_information_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                        </button>
                        <h4>Student Information</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="name_modal">Name</h4>
                        <!-- TODO: Implement html to show student data in columns -->
                    </div>
                    <div class="modal-footer">
                        <!--TODO: Create two function and callbacks in AJAX to Update and print student info. More thought to be given. -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="viewstud.js"></script>
<% include ../partials/jscripts.ejs %>
</body>
</html>
